# Section 506.2.4 - Mixed-occupancy, multistory buildings
## Building Code
```
Each story of a mixed-occupancy building with more than one story above grade plane shall individually comply with the applicable requirements of Section 508.1. For buildings with more than three stories above grade plane, the total building area shall be such that the aggregate sum of the ratios of the actual area of each story divided by the allowable area of such stories, determined in accordance with Equation 5-3 based on the applicable provisions of Section 508.1, shall not exceed three. 

Aa = [At + (NS x If)]  (Equation 5-3)

where: 

Aa = Allowable area (squarefeet). 
At = Tabular allowable areafactor (NS, S13R or SM value, as applicable) in accordance with Table506.2. 
NS = Tabular allowable areafactor in accordance with Table 506.2 for a nonsprinklered building(regardless of whether the building is sprinklered). 
If = Area factor increasedue to frontage (percent) as calculated in accordance with Section506.3. 

Exception: For buildings designed as separated occupancies under Section 508.4 and equipped throughout with an automatic sprinkler system  installed in accordance with Section 903.3.1.2, the total building area shall be such that the aggregate sum of the ratios of the actual area of each story divided by the allowable area of such stories determined in accordance with Equation 5-3 based on the applicable provisions of Section 508.1, shall not exceed four. 
```

In [1]:
%run 506.2-Allowable-Area.ipynb

This section is considered: Passed

The allowable area of the building was determined in accordance with Section 506.2.4 as there is more than one occupancy in the multi-story building:

•Story: 01
◾Occupancy: A-2
◾Occupancy: A-3
◾Occupancy: B
◾Occupancy: R-1

•Story: 02
◾Occupancy: R-1

•Story: 03
◾Occupancy: R-1

•Story: 04
◾Occupancy: R-1

In [2]:
if num_unique_occupancies > 1: 
    if storey_num.lstrip('0') == 1: 
        result = "Not Applicable"
    else:
        result = "Applicable"
else: 
    result = "Not Applicable"
    
print(f"This section is considered: {result}")

This section is considered: Applicable

In [3]:
with open("..\..\..\SPARQL\\spaceAreaSum.sparql", "r") as file:
    sparql_query = file.read()

results = rdf_graph.query(sparql_query)

# Prepare data for the table
data = {
    "Story": [],
    "Sum": []
}

# Process SPARQL results
for row in results:
    story = str(row["levelValue"]).lstrip('0')  # Remove leading zeros
    area = row["totalArea"]

    data["Story"].append(story)
    data["Sum"].append(area)

df = pd.DataFrame(data)
df

  Story                  Sum
0     1  23505.5894431523687
1     4   15467.274522569236
2     3   15467.274522569236
3     2   15467.274522569367